<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
    </head>
    <body id="gestion_produits">
        <h1>Liste produits dans le frigo: </h1>
        <input id="affiche_prod" type="button" value="Afficher les produits"/></br>
        <input id="ecrire_produit" type='text' placeholder="Ajouter un produit" required/>
        <input id="ecrire_qte_produit" type='number' placeholder="Quantité" value="1"/></br>
        <input id="ajouter_prod" type="button" value="Ajouter un produit"/>
        <input id="supprimer_prod" type="button" value="Supprimer complètement un produit "/>
        <script src="../code/gestion_produits.js"></script>
    </body>
</html>